.table{
    border: #0cfd28;
}


.serveis{
    background-color: #efe992;
    color: #975300;
}


.sistemes{
    background-color: #65fbef;
    color: #125852;
}


.seguretat{
    background-color: #2af38e;
    color: #075d1f;
}


.eie{
    background-color: #ef4949;
    color: #881212;
}


.aplicacions{
    background-color: #eb41bb;
    color: #730847;
}


.web{
    background-color: #5d62f5;
    color: #04074a;
}


.pati{
    background-color: #d193da;
}


.titol1{
    background-color: #ffff4e
}


.titol{
    background-color: #ffb300;
}
